.text-red-1 {
  color: crimson !important;
}

.text-blue-1 {
  color: rgb(38, 38, 141) !important;
}

.text-green-1 {
  color: yellowgreen !important;
}

.text-yellow-1 {
  color: yellow !important;
}

.text-white {
  color: #fff;
}

.mb-sm {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}